<!DOCTYPE html>
<html lang="en">
<head>
    <script src="{{ url_for('static', filename='trackr.js') }}"></script>
    <meta charset="UTF-8">
    <title>TrackR Web Bluetooth Proof of Concept</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
</head>
<body>
    <style>
        div {padding: 10px}
    </style>
    <div>
<h1>TrackR Pixel Proof of Concept</h1>
<p>
    This is a proof of concept that lets you trigger a TrackR from a web browser. It only works in browsers that
    implement the Web Bluetooth API. If you find that the Bluetooth features are not working, make sure you have it
    enabled and grant the appropriate permission.
</p>
<br>
<p>Steps:</p>
<i>If this is the first time triggering the TrackR from this page*:</i>
<ol>
    <li>Remove and re-insert the TrackR battery.</li>
    <li>Press the TrackR's button. It should silently blink to indicate that it's in pairing mode.</li>
    <li>Press the "Pair/Find TrackR" button below. A list of Bluetooth devices should show up from the top of your
        browser.</li>
    <li>Select "tkr". It may take a few seconds to show up in the list.</li>
    <li>Wait 5 seconds for pairing to complete.</li>
    <li>If the TrackR didn't trigger already, press the "Pair/Trigger TrackR" button again. The list of Bluetooth devices should come up again.</li>
    <li>Select "tkr - Paired". It may take a few seconds to show up in the list.</li>
    <li>Wait up to 5 seconds for the TrackR to start beeping and flashing.</li>
</ol>
<i>If you have paired your TrackR via this page before:</i>
<ol>
    <li>Press the "Pair/Trigger TrackR" button below. A list of Bluetooth devices should show up from the top of your
        browser.</li>
    <li>Select "tkr - Paired". It may take a few seconds to show up in the list.</li>
    <li>Wait up to 5 seconds for the TrackR to start beeping and flashing.</li>
</ol>
<button onclick="startFindProcess()">Pair/Trigger TrackR</button>
<br>
<br>
<i>*You might not need to follow the battery removal and reinsertion steps, and the TrackR might trigger without you needing to press the Pair/Trigger button a second time.</i>
</div>
</body>

<script>
    function startFindProcess() {
        getReadyToBeep(onReadyToBeep);
    }

    function onReadyToBeep() {
        doTheBeep();
    }
</script>
</html>
